<wrapper class="showcase">
    <container>
        <row>
            <div class="purpose"><div class="purpose-inner">Showcase Style 5</div></div>
            <columns>
                <spacer size="16"></spacer>
                <h2 class="title text-center text-black">2018 RLX Premium Sedan</h2>
            </columns>
        </row>
    </container>
    <container>
        <row>
            <columns small="12" large="12">
                <a href="#" title="See the new car">
                    <row class="showcase__tags">
                        <columns class="bg-peach showcase__tags--left" small="3" valign="middle"><p class="text-white text-center">NEW</p></columns>
                        <columns class="bg-black showcase__tags--right" small="9" valign="middle"><p class="text-white text-left"> Available in 377-HP Sport Hybrid SH-AWD<sup>®</sup></p></columns>
                    </row>
                    <img src="/assets/img/models/model-rect1.jpg" alt="2018 RLX Premium Sedan">
                </a>
            </columns>

        </row>
    </container>
</wrapper>