
<container>
    {{#ifequal offer-type 'service'}}
    {{#each service-offers}}
    {{{stripe @index 3 }}}
    <columns small="12" large="4">
            <callout class="white">
                <h6 class="text-center text-secondary">{{title}}</h6>
                <h3 class="text-center text-primary">
                    {{offer}}
                </h3>
                <p class="small text-center text-medium-gray">{{ sub }}</p>
                <center><button class="small secondary text-center" href="{{#if link }} {{ link }} {{else}} {{../dealer.schedule-service}} {{/if}}">{{link-text}}</button></center>
            </callout>
        </columns>
    {{/each}}
 {{ else ifequal offer-type 'sales'}}
 {{#each sales-offers}}
  {{{stripe @index 3 }}}
<columns small="12" large="4">
            <callout class="white">
                <h6 class="text-center">{{year}} {{ make }} {{model}} {{trim}}</h6>
                <h3 class="text-center text-primary">
                    {{offer}}
                </h3>
                <p class="small text-center text-medium-gray">{{ sub }}</p>
                <center><button class="small secondary text-center" href="{{#if link }} {{ link }} {{else}} {{../dealer.new-inventry}} {{/if}}">{{link-text}}</button></center>
            </callout>
        </columns>
        {{/each}}
 {{/ifequal}}

</container>