<wrapper class="showcase">
    <container>
        <row>
            <columns>
                <spacer size="16"></spacer>
                <h2 class="title text-center text-primary">2018 RS 3 Sedan Showcase</h2>
            </columns>
        </row>
    </container>
    {{#ifequal offer-type 'service'}}
        {{#each service-offers}} 
            <row class="collapse">
                {{#if_even @index 2}}<columns valign="middle" style="padding-bottom: 0"> 
                    <img width="310" src="{{img-sq}}" alt="Audi 2">
                </columns>{{/if_even}}
                <columns valign="middle" class="
                    {{#ifequal ../theme 'dark'}}
                        bg-dark-theme dark
                    {{else ifequal ../theme 'light'}}
                        bg-white-theme light
                    {{else ifequal ../theme 'primary'}} 
                        bg-primary primary
                    {{else ifequal ../theme 'secondary'}} 
                        bg-secondary secondary
                    {{else}}
                    bg-primary light
                    {{/ifequal}}">
                    <p class="thin text-center" style="padding:0 20px;">{{{pre}}}</p>
                    <h4 class="thin text-center" style="padding:0 20px;">{{offer}}</h4>
                    <p class="thin text-center" style="padding:0 20px;">{{{sub}}}</p>
                    <p class="thin text-center" style="padding:0 20px;">{{{details}}}</p>
                    <center><button class="text-center" href="{{#if link }} {{ link }} {{else}} {{../dealer.schedule-service}} {{/if}}">{{link-text}}</button></center>
                </columns>
                {{#if_even @index 2}}{{else}}<columns valign="middle" style="padding-bottom: 0"> 
                    <img width="310" src="{{img-sq}}" alt="Audi 2">
                </columns>{{/if_even}}
            </row>
        {{/each}}
    {{/ifequal}}
</wrapper>