<spacer size="16"></spacer>
<wrapper class="lease">
    <container>
        <row>
            <div class="purpose"><div class="purpose-inner">Lease - 1 Offer Horizontal Blocks</div></div>
            <columns small="12">
                <h6>2018 BMW 330i</h6>
                <row>
                    <columns><img src="https://pictures.dealer.com/cae-bmw/cae765ea0c0a9dc67e99f091712dc90fx.png" alt="car image 1"></columns>
                    <columns><img src="https://pictures.dealer.com/2af-bmw/2af8be573881c7d0ad20e609bf2f7781x.png" alt="car image 2"></columns>
                    <columns><img src="https://pictures.dealer.com/712-bmw/71254ec4f121b536a40a643b154ecc53x.png" alt="car image 3"></columns>
                </row>
                <row class="lease__price border-black">
                    <columns small="12" large="6" valign="middle">
                        <h3 class="text-left text-secondary lease__price-tag">$198 <small class="text-medium-gray">per month</small></h3>
                        <p class="text-black">36 Month Lease</p>
                    </columns>
                    <columns small="12" large="4" class="large-offset-2 text-right" valign="bottom">
                        <button class="text-right float-right secondary medium small-expanded" href="https://eleads.dealerx.com/schedule-service/">GET THIS SPECIAL</button>
                    </columns>
                </row>
                <spacer size="8"></spacer>
                <!--<p class="text-medium-gray">
                    Lease for $198 per month, plus tax. On approval of credit. 5 at this lease.
                </p>-->
                <p class="disclaimer text-medium-gray">
                    *$2888 Customer cash + $750 Loyalty credit + $3000 lease credit ($6638 total due at lease inception) which includes a $0 security deposit: plus tax and license. Lessee responsible, at lease end, for mileage in excess of 10K miles per year at $0.25 cents per mile. Customer must qualify for loyalty.

                </p>
            </columns>
        </row>
    </container>
</wrapper>