<spacer size="16"></spacer>
<wrapper class="lease">
    <container>
        <row>
            <div class="purpose"><div class="purpose-inner">Lease - 2 Offers Vertical Blocks</div></div>
            <columns small="12" large="6">
                <h5 class="text-primary">Oil Change Special</h5>
                <img src="https://wd.eleadcrm.com/evo2/companies/OHCHATVWK/Images/Service-318/OILCHANGE.jpg" alt="">
                <row class="lease__price border-black">
                    <columns small="12" valign="middle">
                        <h3 class="text-left text-primary lease__price-tag">$30 Off <small class="text-medium-gray">plus tax</small></h3>
                    </columns>
                </row>
                <spacer size="8"></spacer>
                <p class="text-medium-gray">
                    $30 off regularly priced oil change (79.99, 89.99, 199.99)
                </p>
                <p class="disclaimer text-medium-gray">
                    * See service advisor for details. Expires 5/28/18
                </p>
                <center><button class="text-center primary medium small-expanded" href="https://eleads.dealerx.com/schedule-service/">Schedule Serevice</button></center>
            </columns>
            <columns small="12" large="6">
                <h5 class="text-primary">Alignment Check</h5>
                <img src="https://wd.eleadcrm.com/evo2/companies/OHCHATVWK/Images/Service-318/alignment.jpg" alt="">
                <row class="lease__price border-black">
                    <columns small="12" valign="middle">
                        <h3 class="text-left text-primary lease__price-tag">Complimentary></h3>
                    </columns>
                </row>
                <spacer size="8"></spacer>
                <p class="text-medium-gray">
                    Get a complimentary alignment check when you present this coupon.
                </p>
                <p class="disclaimer text-medium-gray">
                    * See service advisor for details. Expires 5/28/18
                </p>
                <center><button class="text-center primary medium small-expanded" href="https://eleads.dealerx.com/schedule-service/">Schedule Serevice</button></center>
            </columns>
        </row>
    </container>
</wrapper>