
{{#ifequal offer-type 'service'}}

	{{#each service-offers}}
		{{#ifequal ../primary-offer @key}}
	    	<wrapper class="hero bg-primary">
	    		<row class="collapse">
	        		<columns class="no-expanded">
	            		<div style="margin-bottom:10px;"><img src="{{ img-lg }}" width="620"></div>
	             		<div style="margin-bottom:10px;"><p class="text-center text-white">{{pre}} {{offer}} {{sub}}</p></div>
	        		</columns>
	    		</row>
			</wrapper>
		{{/ifequal}}
	{{/each}}

{{/ifequal}}

{{#ifequal offer-type 'sales'}}
	{{#each sales-offers}}
		{{#ifequal ../primary-offer @key}}
	    	<wrapper class="hero bg-primary">
	    		<row class="collapse">
	        		<columns class="no-expanded">
	            		<div style="margin-bottom:10px;"><img src="{{ img-lg }}" width="620"></div>
	             		<div style="margin-bottom:10px;"><p class="text-center text-white">{{year}} {{ make }} {{model}} {{trim}} - {{pre}} {{offer}} {{sub}}</p></div>
	        		</columns>
	    		</row>
			</wrapper>
		{{/ifequal}}
	{{/each}}

{{/ifequal}}