  <wrapper class="hero">
{{#each showcase-list}}
{{#ifequal ../type this.type}}
    <row class="collapse">
        <columns>
            <img src="{{img-lg}}" >
            <callout class="bg-black">
                <row class="collapse">
                    <columns large="4" valign="middle" >
                        <callout class="bg-black border-0"><img  width="180" src="{{img-sq}}" alt="{{../dealer.name}}"></callout>
                    </columns>
                    <columns large="8" valign="middle" >
                        <h5 class="text-white text-left">{{{title}}}</h5>
                        <p class="text-small text-white text-left"><small>{{{msg}}}</small></p>
                        <button href="{{#if link }} {{ link }} {{else}} {{../dealer.new-inventory-specials}} {{/if}}" class="small-expanded tertiary">{{link-text}}</button>
                    </columns>
                </row>
            </callout>
        </columns>
    </row>
    {{/ifequal}}
    {{/each}}
</wrapper>