<wrapper class="hero">
    <row class="" style="background: url('/assets/img/heros/hero-5.jpg') center top no-repeat">
        <div class="purpose"><div class="purpose-inner">Hero with offers</div></div>
        <columns large="6"></columns>
        <columns class="hero__offer" large="6">
            <p class="big text-white">
                2018 Honda Accord
            </p>
            <p class="huge text-white">
                <sup>$</sup>5,000 OFF
            </p>
            <button class="black" href="#">Test Drive</button>
        </columns>
    </row>
</wrapper>