<wrapper class="hero">
    <row class="" style="background: url('/assets/img/heros/hero-6.jpg') center top no-repeat">
        <div class="purpose"><div class="purpose-inner">Hero with offers 2</div></div>
        <columns large="6"></columns>
        <columns class="hero__offer" large="6">
            <p class="large normal text-white">
                2018 Accord
            </p>
            <p class="huge text-white">
                $299/MO*
            </p>
            <p class="large normal text-white">
                36-MONTH LEASE
            </p>
            <button class="secondary" href="#">Get Offer</button>
        </columns>
    </row>
</wrapper>