<wrapper class="header bg-black text-white">
    <container>
        <row>
            <div class="purpose"><div class="purpose-inner">Header 2</div></div>
            <columns small="12" large="6">
                <img class="logo" src="{{ variables.dealer-logo-white }}">
            </columns>
            <columns small="12" large="6">
                <p class="text-white text-right small-text-center title">{{ variables.dealer-name }}</p>
                <a href="https://eleads.dealerx.com/hours-directions/" title="{{ variables.dealer-name }} Location"><p class="small text-white text-right small-text-center">{{ variables.dealer-address }}</p></a>
            </columns>
        </row>
    </container>
</wrapper>