<wrapper class="header">
    <container>
        <row>
            <!--<div class="purpose"><div class="purpose-inner">Header 1</div></div>-->
            <columns small="12" large="4">
                <img class="logo" src="{{ brand.logo }}">
            </columns>
            <columns small="12" large="8">
                <p class="text-black text-right small-text-center title">{{ dealer.name }}</p>
                <a href="https://eleads.dealerx.com/hours-directions/" title="{{ variables.dealer-name }} Location"><p class="small text-black text-right small-text-center">{{{ dealer.address }}}</p></a>
            </columns>
        </row>
    </container>
</wrapper>