<wrapper class="header">
    <container>
        <row>
            <div class="purpose"><div class="purpose-inner">Header 6</div></div>
            <columns small="12" large="6">
                <img class="logo" src="/assets/img/dealer/hclogo.png">
            </columns>
            <columns class="social text-right small-text-center" small="12" large="6" valign="middle">
                <row>
                    <columns>
                        <a href="https://eleads.dealerx.com/schedule-service/"><p class="text-black text-center">Service</p></a>
                    </columns>
                    <columns>
                        <a href="https://eleads.dealerx.com/schedule-service/"><p class="text-black text-center">Specials</p></a>
                    </columns>
                    <columns>
                        <a href="https://eleads.dealerx.com/directions/"><p class="text-black text-center">Directions</p></a>
                    </columns>
                </row>

            </columns>
        </row>
    </container>
</wrapper>