<wrapper class="header bg-black text-white">
    <container>
        <row>
            <div class="purpose"><div class="purpose-inner">Header 4</div></div>
            <columns small="12" large="6">
                <img class="logo" src="/assets/img/dealer/hclogo-inverted.png">
            </columns>
            <columns class="social" small="12" large="6">
                <p class="text-primary text-right small-text-center title"><img style="margin-right: 8px;" class="social-square" src="/assets/img/social/phone.png" alt="Visit Us">800-234-7352</p>
                <a href="https://eleads.dealerx.com/hours-directions/" title="Hammer Cars Location"><p class="small text-white text-right small-text-center">4460 LEGENDARY DR DESTIN, FL 32541</p></a>
            </columns>
        </row>
    </container>
</wrapper>