<wrapper class="header 
    {{#ifequal theme 'dark'}}
        bg-black dark
    {{else ifequal theme 'primary'}} 
        bg-primary primary
    {{else ifequal theme 'secondary'}} 
        bg-secondary secondary
    {{else}}
        bg-white light
    {{/ifequal}}">
    
    {{#each data}}
    {{#ifequal @key "dealer"}}
    <container>
        <row>
            <columns small="12" large="4">
                <img class="logo" src="{{#ifequal ../theme 'light'}}{{brand_logo}} {{else}} {{brand_logo_rev}}{{/ifequal}}">
            </columns>
            <columns small="12" large="8">
                <p class="text-right small-text-center title">
                            {{ name }}</p>
                <a href="{{location}}" title="{{ name }} Location">
                    <p class="small text-right small-text-center">
                            {{ address_1 }}{{#if address_2}}, {{ address_2 }}{{/if}}<br/>
                            {{city}}, {{state}} {{zip}}
                        </p>
                    </a>
                
                            {{#ifequal ../data/type 'service'}}
                            <a href="tel:{{service_track_phone}}" title="{{ name }} Location">
                    <p class="mall text-right small-text-center">
                        {{{service_track_phone}}}
                            {{else}}
                             <a href="tel:{{sales_track_phone}}" title="{{ name }} Location">
                    <p class="mall text-right small-text-center">
                        {{{sales_track_phone}}}
                            {{/ifequal}}
                        </p>
                    </a>
            </columns>
        </row>
    </container>
    {{/ifequal}}

{{/each}}
</wrapper>
