<wrapper class="header">
    <container>
        <row>
            <div class="purpose"><div class="purpose-inner">Header 3</div></div>
            <columns small="12" large="6">
                <img class="logo" src="/assets/img/dealer/hclogo.png">
            </columns>
            <columns class="social text-right small-text-center" small="12" large="6" valign="middle">
                <row>
                    <columns>
                        <p class="text-right small-text-center">
                            <a href="#" title=""><img class="social-square" src="/assets/img/social/facebook.png" alt="Follow us on Facebook"></a>
                            <a href="#" title=""><img class="social-square" src="/assets/img/social/twitter.png" alt="Follow us on Twitter"></a>
                            <a href="#" title=""><img class="social-square" src="/assets/img/social/youtube.png" alt="Subscribe on Youtube"></a>
                            <a href="#" title=""><img class="social-square" src="/assets/img/social/location.png" alt="Visit Us"></a>
                        </p>
                    </columns>
                </row>
            </columns>
        </row>
    </container>
</wrapper>