<wrapper class="navigation bg-primary">
    <container>
        <row class="collapse">
            <columns small="6"><a href="{{ dealer.link-1 }}"><p class="text-white text-center">{{ dealer.nav-1 }}</p></a></columns>
            <columns small="6"><a href="{{ dealer.link-2 }}"><p class="text-white text-center">{{ dealer.nav-2 }}</p></a></columns>
            <columns small="6"><a href="{{ dealer.link-3 }}"><p class="text-white text-center">{{ dealer.nav-3 }}</p></a></columns>
            <columns small="6"><a href="{{ dealer.link-4 }}"><p class="text-white text-center">{{ dealer.nav-4 }}</p></a></columns>
        </row>
    </container>
</wrapper>