<wrapper class="navigation">
    <container>
        <row class="collapse">
            <columns small="6"><a href="https://eleads.dealerx.com/"><p class="text-center border-white">Home</p></a></columns>
            <columns small="6"><a href="https://eleads.dealerx.com/schedule-service/"><p class="text-center border-white">Service</p></a></columns>
            <columns small="6"><a href="https://eleads.dealerx.com/about-us/"><p class="text-center border-white">About</p></a></columns>
            <columns small="6"><a href="https://eleads.dealerx.com/hours-directions/"><p class="text-center border-white">Directions</p></a></columns>
        </row>
    </container>
</wrapper>