<wrapper class="navigation 
    {{#ifequal theme 'dark'}}
        bg-black dark
    {{else ifequal theme 'primary'}} 
        bg-primary primary
    {{else ifequal theme 'secondary'}} 
        bg-secondary secondary
    {{else ifequal theme 'light'}}
        bg-white light
        {{else}}
    bg-primary light
    {{/ifequal}}
    ">
    <container class="test">
        <row class="collapse">
            <columns small="6"><a href="{{ dealer.link-1 }}"><spacer size="5"></spacer><p class="text-center">{{ dealer.nav-1 }}</p><spacer size="5"></spacer></a></columns>
            <columns small="6"><a href="{{ dealer.link-2 }}"><spacer size="5"></spacer><p class="text-center">{{ dealer.nav-2 }}</p><spacer size="5"></spacer></a></columns>
            <columns small="6"><a href="{{ dealer.link-3 }}"><spacer size="5"></spacer><p class="text-center">{{ dealer.nav-3 }}</p><spacer size="5"></spacer></a></columns>
            <columns small="6"><a href="{{ dealer.link-4 }}"><spacer size="5"></spacer><p class="text-center">{{ dealer.nav-4 }}</p><spacer size="5"></spacer></a></columns>
        </row>
    </container>
</wrapper>