<wrapper class="navigation 
    {{#ifequal theme 'dark'}}
        bg-black dark
    {{else ifequal theme 'primary'}} 
        bg-primary primary
    {{else ifequal theme 'secondary'}} 
        bg-secondary secondary
    {{else ifequal theme 'light'}}
        bg-white light
        {{else}}
    bg-primary light
    {{/ifequal}}
    ">
{{#each data}}
    {{#ifequal @key "dealer"}}
    <container>
        <row class="collapse">
            <columns small="6"><a href="{{ nav_1_link }}"><spacer size="5"></spacer><p class="text-center">{{ nav_1 }}</p><spacer size="5"></spacer></a></columns>
            <columns small="6"><a href="{{ nav_2_link }}"><spacer size="5"></spacer><p class="text-center">{{ nav_2 }}</p><spacer size="5"></spacer></a></columns>
            <columns small="6"><a href="{{ nav_3_link }}"><spacer size="5"></spacer><p class="text-center">{{ nav_3 }}</p><spacer size="5"></spacer></a></columns>
            <columns small="6"><a href="{{ nav_4_link }}"><spacer size="5"></spacer><p class="text-center">{{ nav_4 }}</p><spacer size="5"></spacer></a></columns>
        </row>
    </container>
{{/ifequal}}
{{/each}}

</wrapper>