<container>
    {{#ifequal email-type 'service'}}
        {{#each service-offers}}
            {{#ifequal ../primary-offer @key}}
            <row class="collapse">
                <columns>
                    <callout class="white">
                        <h6 class="text-center">{{ title }}</h6>
                        <h4 class="text-center text-primary">
                            {{ offer }}
                        </h4>
                        <p class="text-center small">{{ details }}</p>
                        <p style="font-size:8px !important;">{{ disclaimer }}</p>
                        <center><button class="text-center" href="{{ link }}">{{ link-text }}</button></center>
                    </callout>
                </columns>
            </row>
               {{/ifequal}}
           {{/each}}
       {{/ifequal}}
</container>
