<wrapper class="" style="border-top: 6px solid #666666;">
    <container>
        {{#each content-srm-msg}}
         <row>
            <columns>
                <spacer size="32"></spacer>
                <h5 class="text-center">{{primary}}</h5>
                <p class="text-center">{{details}}</p>
                <p class="text-center"><small><i>- {{signature}}</i></small></p>
                <center><button class="text-center" href="mailto:{{link}}">{{link-text}}</button></center>
            </columns>
        </row>
        {{/each}}
    </container>
</wrapper>