<wrapper class="border-black" style="border-top: 6px solid">
    <container>
        <row>
            <columns>
                <spacer size="32"></spacer>
                <h5 class="text-center">YOU MATTER TO US</h5>
                <p class="text-center">I'd love to hear how I can help improve your service experience. Please let me know what we can do.</p>
                <p class="text-center"><small><i>- Celso Abrego, Service Manager</i></small></p>
                <center><button class="text-center" href="#">Email Me</button></center>
            </columns>
        </row>
    </container>
</wrapper>