<wrapper class="" style="border-top: 6px solid #666666;">
    <spacer size="40"></spacer>
<row class="collapse">
    <columns large="2">&nbsp;</columns>
          <columns large="4">
                       <center><button class="text-center tertiary" href="tel:{{data.dealer.service_track_phone}}">Call Service</button></center>
           </columns>
<columns large="4"><center><button class="text-center tertiary" href="tel:{{data.dealer.sales_track_phone}}">Call Sales</button></center></columns>
<columns large="2">&nbsp;</columns>
</row>  
</wrapper>
