<wrapper class="hero-video">
    <row class="collapse">
        <div class="purpose"><div class="purpose-inner">Hero With Video</div></div>
        <columns small="12">
            <center>
                <img src="/assets/img/heros/hero-video.jpg">
            </center>
            <callout class="white">
                <p class="giant text-center">Happy Birthday!</p>
                <p class="lead text-center">From all of us here at Hammer Cars, we wish for you lots of love, health, hope and happiness.</p>
                <p class="lead text-center">We are grateful for your continued trust and support.</p>
                <spacer size="16"></spacer>
            </callout>
        </columns>
    </row>
</wrapper>