<wrapper class="hero-video">
    <row class="collapse">
        <div class="purpose"><div class="purpose-inner">Hero With Video & More</div></div>
        <columns small="12">
            <center>
                <img src="/assets/img/heros/hero-video-1.jpg">
            </center>
        </columns>
    </row>
    <spacer size="12"></spacer>
    <row class="">
        <columns small="12" large="4">
            <center>
                <img src="/assets/img/heros/hero-video-2.jpg">
            </center>
        </columns>
        <columns small="12" large="4">
            <center>
                <img src="/assets/img/heros/hero-video-3.jpg">
            </center>
        </columns>
        <columns small="12" large="4">
            <center>
                <img src="/assets/img/heros/hero-video-4.jpg">
            </center>
        </columns>
    </row>
    <spacer size="32"></spacer>
</wrapper>