<wrapper class="hero">
    <row class="collapse">
        <div class="purpose"><div class="purpose-inner">Hero With Caption & Text Block</div></div>
        <columns>
            <img src="/assets/img/heros/hero-2.jpg" >
            <callout class="bg-black">
                <row>
                    <columns large="4" valign="middle">
                        <img src="/assets/img/dealer/logo_bmw.png" alt="Brand Logo">
                    </columns>
                    <columns large="8" valign="middle">
                        <h2 class="text-white text-left">The Ultimate Driving Machine</h2>
                        <p class="text-white text-left">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque facere sapiente tenetur! A ab blanditiis deleniti expedita fugit illo illum incidunt iste modi, nemo placeat quae quas recusandae, ullam vero!</p>
                        <button href="#" class="small-expanded">See Specials</button>
                    </columns>
                </row>

            </callout>
        </columns>
    </row>
</wrapper>