<wrapper class="showcase">
    <container>
        <row>
            <div class="purpose"><div class="purpose-inner">Showcase Style 1</div></div>
            <columns>
                <spacer size="16"></spacer>
                <h2 class="title text-center text-primary">2018 RS 3 Sedan Showcase</h2>
            </columns>
        </row>
    </container>
    <row>
        <columns class="show-for-large" large="3">
            <img src="/assets/img/models/model-sq2.jpg" alt="Audi 2">
            <spacer size="13"></spacer>
            <img src="/assets/img/models/model-sq3.jpg" alt="Audi 3">
        </columns>
        <columns class="hide-for-large">
            <row>
                <columns small="6"><img src="/assets/img/models/model-sq2.jpg" alt="Audi 2"></columns>
                <columns small="6"><img src="/assets/img/models/model-sq3.jpg" alt="Audi 3"></columns>
            </row>
        </columns>
        <columns small="12" large="6">
            <img src="/assets/img/models/model-sq1.jpg" alt="Audi 1">
        </columns>
        <columns class="show-for-large" large="3">
            <img src="/assets/img/models/model-sq4.jpg" alt="Audi 4">
            <spacer size="13"></spacer>
            <img src="/assets/img/models/model-sq5.jpg" alt="Audi 5">
        </columns>
        <columns class="hide-for-large">
            <row>
                <columns small="6"><img src="/assets/img/models/model-sq4.jpg" alt="Audi 4"></columns>
                <columns small="6"><img src="/assets/img/models/model-sq5.jpg" alt="Audi 5"></columns>
            </row>
        </columns>
    </row>
</wrapper>