<wrapper class="showcase">
{{#each showcase-list}}
{{#ifequal ../type this.type}}
  {{#ifequal ../show-title 'true'}}<container>
        <row>
            <columns>
                <spacer size="16"></spacer>
                <h2 class="title text-center text-black">{{title}}</h2>
            </columns>
        </row>
          </container>
        {{/ifequal}}
  
        <row class="collapse">
            <columns small="12" large="12">
                <a href="{{#if link }} {{ link }} {{else}} {{../dealer.new-inventory}} {{/if}}" title="../dealer.name">
                    {{#if_notequal ../cap-location 'bottom'}}
                    <row class="showcase__tags">
                        <columns class="bg-tertiary showcase__tags--left" small="3" valign="middle">
                            <p class="text-white text-center">{{label}}</p>
                        </columns>
                        <columns class="bg-black showcase__tags--right" small="9" valign="middle">
                            <p class="text-white text-left"> {{caption}}</p>
                        </columns>
                    </row>
                    {{/if_notequal}}
                <img width="620" src="{{img}}" alt="{{../dealer.name}}">
                      {{#ifequal ../cap-location 'bottom'}}
                    <row class="showcase__tags">
                        <columns class="bg-tertiary showcase__tags--left" small="3" valign="middle">
                            <p class="text-white text-center">{{label}}</p>
                        </columns>
                        <columns class="bg-black showcase__tags--right" small="9" valign="middle">
                            <p class="text-white text-left"> {{caption}}</p>
                        </columns>
                    </row>
                    {{/ifequal}}
                </a>
            </columns>
        </row>

{{/ifequal}}
{{/each}}
</wrapper>