
<container>
    {{#ifequal offer-type 'service'}}
    {{#each service-offers}}
    {{#filter ../col offer.col}}
    {{#exclude ../primary-offer @key}}
    {{{stripe @index 3 }}}
    <columns small="12" large="4">
            <callout class="white">
                <h6 class="text-center text-secondary">{{offer.title}}</h6>
                <h3 class="text-center text-primary">
                    {{{offer.offer}}}
                </h3>
                <p class="small text-center text-medium-gray">{{{ offer.post }}}</p>

                <center><button class="small tertiary text-center" href="{{#if offer.link }} {{ offer.link }} {{else}} {{../dealer.schedule-service}} {{/if}}">{{offer.link-text}}</button></center>
                <p class="text-medium-gray">{{{ offer.details }}}</p>
                <p style="font-size:8px !important;">{{ offer.disclaimer }}</p>
            </callout>

        </columns>
        {{/exclude}}
         {{/filter}}
    {{/each}}
</row>
 {{ else ifequal offer-type 'sales'}}
 {{#each sales-offers}}
  {{{stripe @index 3 }}}
<columns small="12" large="4">
            <callout class="white">
                <h6 class="text-center">{{offer.year}} {{ offer.make }} {{offer.model}} {{offer.trim}}</h6>
                <h3 class="text-center text-primary">
                    {{offer.offer}}
                </h3>
                <p class="small text-center text-medium-gray">{{ offer.post }}</p>
                <center><button class="small primary text-center" href="{{#if offer.link }} {{ offer.link }} {{else}} {{../dealer.new-inventry}} {{/if}}">{{offer.link-text}}</button></center>
            </callout>
        </columns>
        {{/each}}
</row>
 {{/ifequal}}

</container>