<container>
    <row class="">
        <div class="purpose"><div class="purpose-inner">3 Offers Block</div></div>
        <columns small="12" large="4">
            <callout class="white">
                <h6 class="text-center">Service Offer 1</h6>
                <h4 class="text-center text-primary">
                    15% Off
                </h4>
                <center><button class="small text-center" href="https://eleads.dealerx.com/schedule-service/">Get $100 Off</button></center>
            </callout>
        </columns>
        <columns small="12" large="4">
            <callout class="white">
                <h6 class="text-center">Service Offer 2</h6>
                <h4 class="text-center text-primary">
                    15% Off
                </h4>
                <center><button class="small text-center" href="https://eleads.dealerx.com/schedule-service/">Oil Change</button></center>
            </callout>
        </columns>
        <columns small="12" large="4">
            <callout class="white">
                <h6 class="text-center">Service Offer 3</h6>
                <h4 class="text-center text-primary">
                    15% Off
                </h4>
                <center><button class="small text-center" href="https://eleads.dealerx.com/schedule-service/">Service Deals</button></center>
            </callout>
        </columns>
    </row>
</container>