<wrapper class="footer">
    <container>
        <spacer size="20"></spacer>
        <row>
            <columns small="12" large="4">
                <!--<img src="{{ variables.dealer-footer-mark }}" alt="Hammer Cars Icon">-->
                <spacer size="8"></spacer>
                <h6>{{ dealer.name}}</h6>
                <small>
                    {{dealer.address}}<br/>
                    PHONE: {{ dealer.phone }}<br />
                </small>
            </columns>
            <columns small="12" large="4">
                <h6>GENERAL MANAGER</h6>
                <p>I’m happy to assist in your search for a new or used vehicle. Call today to set up a VIP experience. I look forward to meeting you.</p>
                <small></small>
            </columns>
            <columns small="12" large="4"><h6>SERVICE MANAGER</h6>
                <p>Our world class service technicians use cutting edge technology to diagnose and repair your vehicle quickly and painlessly. I pledge to make your visit an unbeatable experience.</p>
                <small></small>
            </columns>
        </row>
    </container>
</wrapper>