<spacer size="16"></spacer>
<wrapper class="lease">
    <container>
        <row>
            <div class="purpose"><div class="purpose-inner">Lease - 2 Offers Vertical Blocks</div></div>
            <columns small="12" large="6">
                <h6>2018 430i GRAN COUPE</h6>
                <row class="lease__price border-black">
                    <columns small="12" valign="middle">
                        <h3 class="text-left text-secondary lease__price-tag">$549 <small class="text-medium-gray">per month</small></h3>
                    </columns>
                </row>
                <spacer size="4"></spacer>
                <!--<p class="text-medium-gray">
                    Lease for $198 per month, plus tax. On approval of credit. 5 at this lease.
                </p>-->
                <p class="disclaimer text-medium-gray">
                    2017 Remaining 540i Lease for $549/Mo for 36mos. Stock # Hg916026. Msrp $64220. $2999 Due at Signing. $3000 Rebate and Loyalty Credit. 36mos.@ $549 Plus Tax. 10k Miles/Yr. O.A.C.
                </p>
                <button class="text-center secondary small small-expanded" href="https://eleads.dealerx.com/schedule-service/">Schedule VIP</button>
            </columns>
            <columns small="12" large="6">
                <img src="https://wd.eleadcrm.com/evo2/companies/FLNADAMAR/Images/vi/misc/2018-bmw-430i.jpg" alt="">
            </columns>
        </row>
        <row>
            <columns small="12" large="6">
                <h6>2018 BMW X1</h6>
                <row class="lease__price border-black">
                    <columns small="12" valign="middle">
                        <h3 class="text-left text-secondary lease__price-tag">$450 <small class="text-medium-gray">per month</small></h3>
                    </columns>
                </row>
                <spacer size="4"></spacer>
                <!--<p class="text-medium-gray">
                    Lease for $198 per month, plus tax. On approval of credit. 5 at this lease.
                </p>-->
                <p class="disclaimer text-medium-gray">
                    Disclaimer: $3,000 down $450 per Month. Lease Special Assumes 10,000 Miles per Year and a 36 Month Lease Term Through Bmw Financial Services. Lease Factored Assuming 740+ Credit Rating. Lease Includes $225 Closing Fee, but Excludes Taxes and Tag. Deal 139421.
                </p>
                <button class="text-center secondary small small-expanded" href="https://eleads.dealerx.com/schedule-service/">Schedule VIP</button>
            </columns>
            <columns small="12" large="6">
                <img src="https://wd.eleadcrm.com/evo2/companies/FLNADAMAR/Images/vi/misc/2018-bmw-x1-sdrive28i.jpg" alt="">
            </columns>
        </row>
    </container>
</wrapper>