<spacer size="16"></spacer>
<wrapper class="lease">
    <container>
        <row>
            <div class="purpose"><div class="purpose-inner">Lease - 2 Offers Vertical Blocks</div></div>
            <columns small="12" large="6">
                <h6>2018 HONDA ACCORD LX Sedan </h6>
                <img src="https://wd.eleadcrm.com/evo2/companies/CABPHONDA/Images/Sales-DreamGarage-318/2018-Honda-Accord.jpg" alt="">
                <row class="lease__price border-black">
                    <columns small="4" valign="bottom">
                        <p class="text-medium-gray small">36 Month Lease</p>
                    </columns>
                    <columns small="8" valign="middle">
                        <h3 class="text-center text-secondary lease__price-tag">$198 <small class="text-medium-gray">per month</small></h3>
                    </columns>
                </row>
                <spacer size="8"></spacer>
                <p class="text-medium-gray">
                    Lease for $198 per month, plus tax. On approval of credit. 5 at this lease.
                </p>
                <p class="disclaimer text-medium-gray">
                    Lease for $198 per month plus tax. On approval of credit. 5 at this lease. 36 month lease. $3,888 total due at lease inception which includes $0 security deposit; plus tax and license. Lessee responsible at lease end for mileage in excess of 12k miles per year at $0.15 cents per mile. Offer expires 3/31/18.
                </p>
                <center><button class="text-center secondary small small-expanded" href="https://eleads.dealerx.com/schedule-service/">View Inventory</button></center>
            </columns>
            <columns small="12" large="6">
                <h6>2018 HONDA CIVIC CX LVT</h6>
                <img src="https://wd.eleadcrm.com/evo2/companies/CABPHONDA/Images/Sales-DreamGarage-318/2018-Honda-Civic.jpg" alt="">
                <row class="lease__price border-black">
                    <columns small="4" valign="bottom">
                        <p class="text-medium-gray small">36 Month Lease</p>
                    </columns>
                    <columns small="8" valign="middle">
                        <h3 class="text-center text-secondary lease__price-tag">$118 <small class="text-medium-gray">per month</small></h3>
                    </columns>
                </row>
                <spacer size="8"></spacer>
                <p class="text-medium-gray">
                    Lease for $198 per month, plus tax. On approval of credit. 5 at this lease.
                </p>
                <p class="disclaimer text-medium-gray">
                    Lease for $118 per month plus tax. On approval of credit. 5 at this lease. 36 month lease. $3,888 total due at lease inception which includes $0 security deposit; plus tax and license. Lessee responsible at lease end for mileage in excess of 12k miles per year at $0.15 cents per mile. Offer expires 3/31/18.
                </p>
                <center><button class="text-center secondary small small-expanded" href="https://eleads.dealerx.com/schedule-service/">View Inventory</button></center>
            </columns>
        </row>
    </container>
</wrapper>