<wrapper class="header bg-black text-white">
    <container>
        <row>
            <div class="purpose"><div class="purpose-inner">Header 4</div></div>
            <columns small="12" large="6">
                <img class="logo" src="{{ variables.dealer-logo-white }}">
            </columns>
            <columns class="social" small="12" large="6">
                <p class="text-primary text-right small-text-center title"><a href="tel:8888888888"><img style="margin-right: 8px;" class="social-square" src="/assets/img/social/phone.png" alt="Visit Us">{{ variables.dealer-phone }}</a></p>
                <p class="small text-white text-right small-text-center"><a href="https://eleads.dealerx.com/hours-directions/" title="Hammer Cars Location">{{ variables.dealer-address }}</a></p>
            </columns>
        </row>
    </container>
</wrapper>