{{!-- This is the base layout for your project, and will be used on every page. --}}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Oswald:300,400,500,600,700" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{{root}}css/app.css">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width">
  <title>{{subject}}</title>
  <!-- <style> -->
</head>
<body>
<span class="preheader">{{description}}</span>
<table class="body">
  <tr>
    <td class="center" align="center" valign="top">
      <center>
        <container>

          {{> body}}
          <wrapper class="prefooter">
            <container>
              <row class="collapse">
                &nbsp;
              </row>
            </container>
          </wrapper>
          <wrapper class="footer">
            <container>
              <spacer size="20"></spacer>
              <row>
                <columns small="12" large="4">
                  <img src="https://i.imgur.com/36DSjPE.png" alt="Hammer Cars Icon">
                  <spacer size="8"></spacer>
                  <h6>HAMMER CARS</h6>
                  <small>
                    4460 Legendary Dr<br />
                    Destin, FL 32541<br />
                    PHONE: (188) 843-1693<br />
                  </small>
                </columns>
                <columns small="12" large="4">
                  <h6>GENERAL MANAGER</h6>
                  <p>I’m happy to assist in your search for a new or used vehicle. Call today to set up a VIP experience. I look forward to meeting you.</p>
                  <small>- Leona Crump</small>
                </columns>
                <columns small="12" large="4"><h6>SERVICE MANAGER</h6>
                  <p>Our world class service technicians use cutting edge technology to diagnose and repair your vehicle quickly and painlessly. I pledge to make your visit an unbeatable experience.</p>
                  <small>- Celso Abrego</small>
                </columns>
              </row>
            </container>
          </wrapper>
        </container>

      </center>
    </td>
  </tr>
</table>
<!-- prevent Gmail on iOS font size manipulation -->
<div style="display:none; white-space:nowrap; font:15px courier; line-height:0;"> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </div>
</body>
</html>

