<container>
    <row class="collapse">
        <columns>
            <h3>Car Guide</h3>
        </columns>
    </row>
    <row class="collapse">
        <columns small="4" large="3">
            <center>
                <img src="/assets/img/thumbnails/suvs.jpg" alt="">
                <a class="small text-center">SUVs</a>
            </center>
        </columns>
        <columns small="4" large="3">
            <center>
                <img src="/assets/img/thumbnails/sedans.jpg" alt="">
                <a class="small text-center">Sedans</a>
            </center>
        </columns>
        <columns small="4" large="3">
            <center>
                <img src="/assets/img/thumbnails/luxury.jpg" alt="">
                <a class="small text-center">Luxury</a>
            </center>
        </columns>
        <columns small="4" large="3">
            <center>
                <img src="/assets/img/thumbnails/sports.jpg" alt="">
                <a class="small text-center">Sports</a>
            </center>
        </columns>
    </row>
    <row class="collapse">
        <columns small="4" large="3">
            <center>
                <img src="/assets/img/thumbnails/pickup.jpg" alt="">
                <a class="small text-center">Pickup Trucks</a>
            </center>
        </columns>
        <columns small="4" large="3">
            <center>
                <img src="/assets/img/thumbnails/crossovers.jpg" alt="">
                <a class="small text-center">Crossovers</a>
            </center>
        </columns>
        <columns small="4" large="3">
            <center>
                <img src="/assets/img/thumbnails/hatchback.jpg" alt="">
                <a class="small text-center">Hatchbacks</a>
            </center>
        </columns>
        <columns small="4" large="3">
            <center>
                <img src="/assets/img/thumbnails/vans.jpg" alt="">
                <a class="small text-center">Vans</a>
            </center>
        </columns>
    </row>
    <row class="collapse">
        <columns small="4" large="3">
            <center>
                <img src="/assets/img/thumbnails/convertibles.jpg" alt="">
                <a class="small text-center">Convertibles</a>
            </center>
        </columns>
        <columns small="4" large="3">
            <center>
                <img src="/assets/img/thumbnails/coupes.jpg" alt="">
                <a class="small text-center">Coupes</a>
            </center>
        </columns>
        <columns small="4" large="3">
            <center>
                <img src="/assets/img/thumbnails/hybrids.jpg" alt="">
                <a class="small text-center">Hybrids</a>
            </center>
        </columns>
        <columns small="4" large="3">
            <center>

            </center>
        </columns>
    </row>
</container>